<!DOCTYPE html>
<html>

<head>
	<meta charset='UTF-8'>
	
	<title>D3.js Sortable & Responsive Table</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- d3-->
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" href="http://billmill.org/css/style.css" />
    <!-- Our Style -->
    <link rel="stylesheet" href="../static/styles/style.css">

</head>

<body>
    <div id="page-wrap">

        <h1>Table Summary</h1>
        
        <p>Click the table header to sort data according to that column</p>
    
        </div>
	
    <script type="text/javascript" src="../static/js/summarytable.js"></script>
</body>

</html>