body {  width: 100%; height: 100%; }

#selectddl {
    padding-left: 50px;
    background-color: hsl(27, 86%, 67%);
    color: black;
    font-weight: bold;
    width:200px;
    height: 30px;
    font-size: 12px;
    border:0px;
    outline:0px;
    font-weight: bold;
    font-size: 16px;
}

/****** WEBPAGE ELEMENTS ******/
.jumbotron {
    padding-top: 1px;
    /* background-color:rgb(247, 238, 223); */
    padding-bottom: 1px;
}
#container{
    /* position:fixed; */
    top:5px;
    left:50px;
}

.ribbon:after {
    border-right-color:transparent;
}

.ribbon:before {
    border-left-color:transparent;
}

.ribbon a:link, .ribbon a:visited { 
    color:#333333;
    text-decoration:none;
    float:left;
    height:3.5em;
    overflow:hidden;
}

.ribbon span {
    background:#ccc8c8;
    display:inline-block;
    line-height:3em;
    padding:0 1em;
    margin-top:0.5em;
    position:relative;

    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    -o-transition: background-color 0.2s, margin-top 0.2s;
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
    background:rgb(226, 119, 80);
    margin-top:0;
}

.ribbon span:before {
    content: "";
    position:absolute;
    top:3em;
    left:0;
    border-right:0.5em solid #51909B;
    border-bottom:0.5em solid #eeeeee;
}

.ribbon span:after {
    content: "";
    position:absolute;
    top:3em;
    right:0;
    border-left:0.5em solid #51909B;
    border-bottom:0.5em solid #eeeeee;
}

#dashboard {
    color: cadetblue;
}

#instruction {
    font-size: 15px;
    -webkit-animation-delay: 1s;
}


#wholechart {
    padding-right: 50px;
}

#chartContainer {
    -webkit-animation-delay: 1.5s;
}

hr { background-color:rgb(182, 159, 30);
    height: 1px; 
    border: 0; }

