body {  width: 100%; height: 100%; }

#select {
    padding-left: 50px;
}

/****** WEBPAGE ELEMENTS ******/
.jumbotron {
    padding-top: 1px;
    /* background-color:rgb(247, 238, 223); */
    padding-bottom: 1px;
}

#dashboard {
    color: cadetblue;
}

#instruction {
    font-size: 15px;
    -webkit-animation-delay: 1s;
}

#selectddl {
    width:180px;
    /* padding-right: 100px; */
}

#wholechart {
    padding-right: 50px;
}

hr { background-color:rgb(182, 159, 30);
    height: 1px; 
    border: 0; }

/* #button{
    padding-bottom: 20px;
} */